#total_wrap {
	width: 100%;
	height: 100%;
}
#analyzer {
	height: 20%;
	min-height: 11px !important;
}
#clock {
	height: 75%;
	background-color: #000;
	color: #fff;
	font-family: fonts7;
	position: relative;
}
#sun_scale {
	height: 2%;
	background-color: yellow;
}
#sun_triangle_line {
	height: 3%;
	background-color: #000;
}
#sun_triangle_indicator {
	width: 0;
	height: 0;
}
@font-face {
	font-family: fonts7;
	src: url(../fonts/Segment7-4Gml.otf);
}
@font-face {
	font-family: Orbitron;
	src: url(../fonts/Orbitron.woff2);
}
#clock_value {
	margin: 0 auto;
	color: #adff2f;
}
#second {
	position: absolute;
	top: 1%;
	right: 1%;
	font-size: 30%;
	color: rgba(138, 43, 226, 0.39);
}
#delimiter {
	font-family: Verdana Arial serif;
	color: #000;
}
#files_panel, .player-controls, .player-panel, #toggle_console, #btn_fullscreen {
	display: none;
}
#below_total_wrap {
	margin-bottom: 1em;
}
::-webkit-scrollbar {
	width: 0;
}
html, body, div {
	scrollbar-width: none;
}
#sun_time_slash {
	height: 100%;
	width: 2px;
	border: 0;
	background-color: #adff2f;
	position: absolute;
}
#sun_scale {
	position: relative;
}
.sun_float {
	float: left;
	height: 100%;
}
.delimiter_visible {
	color: #ADFF2F !important;
}